<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="6.0+" codebase="$$codebase" >
	<information>
		<title>Simple Swing Webstart application</title>
		<vendor>Weboctave</vendor>
		<description>Simple Swing Webstart Application </description>
		<description kind="short">Simple Swing Webstart Application</description>
		<shortcut online="true"><desktop/><menu submenu="Weboctave"/></shortcut>
	</information>
	<security>
		<all-permissions/>
	</security>
	<update check="always" policy="always" />
	<resources>
		<j2se version="1.6+" href='http://java.sun.com/products/autodl/j2se' java-vm-args="-Xmx128m"/>
			$dependencies
	</resources>
	<application-desc main-class="com.weboctave.swingwebstart.client.HelloWorldSwing"/>
	</application-desc>
</jnlp>
